/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav ul img {
	width: 22px;
	height: 22px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	width: 100%;
	height: 60px;
	background-color: white;
	align-content: center;
	justify-items: end;
}

footer p {
	font-family: 'Work Sans';
	padding: 0px 10px;
	font-weight: 300;
}


#portfolio nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
	height: 40px;
}

#portfolio nav :first-child {
	color: white;
	background-color: #1D6154;
}

.btn-filter {
	height: 100%;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	color: #1D6154;
	align-content: center;
	background-color: white;
	border-radius: 24px;
	padding: 4px 19px 4px 19px;
	border: #91beb6 solid 1px;
}

/* page login */

.bodyLog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.loginPage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loginPage nav li {
	font-family: 'Work Sans';
	font-weight: 400;
}

.loginPage nav li:nth-child(3) {
	font-weight: 600;
}


#loginForm {
	width: 35%;
	margin: auto;
	margin-bottom: 100px;
}

#loginForm h2 {
	margin-bottom: 20px;
	text-align: center;
}

#loginForm form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#loginForm input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#loginForm input[type="submit"] {
	width: fit-content;
	padding: 0px 40px;
}

#loginForm label {
	margin: 2em 0 1em 0;
}

#loginForm form label:last-of-type {
	text-align: center;
	text-decoration: underline;
}

.errorMsg {
	text-align: center;
	color: red;
	margin-top: 10px;
}

/*CSS une fois login*/
.barEdit {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 50px;
	width: 100%;
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#portfolio .divH {
	margin-top: 145px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#portfolio .divH h2 {
	margin: 0;
}

.btnEdit {
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.btnEdit .divEdit {
	color: black;
	height: 18px;
	line-height: 100%;
	gap: 5px;
}

.btnEdit .divEdit p {
	line-height: 100%;
	font-size: 16px;
}

.divEdit {
	color: white;
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 10px;
}

.divEdit i {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16px;
	width: 16px;
}

.divEdit.btnEdition {
	color: #1D6154;
}

/* personnalisation de la popup*/

.backPopup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	min-width: fit-content;
	max-width: 50%;
	min-height: 50%;
	z-index: 1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	gap: 5px;
}


.popup .divBtn {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.popup button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.popup .divBtn .btnArrow {
	display: none;
}

.popup .btnArrow .fa-arrow-left:before {
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	font-size: 21px;
}

.popup .btnCroix .fa-xmark:before {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	font-size: 12px;
}

.popUne {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	width: min-content;
	margin: 0 65px;
}


.popUne h2,
.popDeux h2 {
	align-self: center;
	font-family: "Work Sans";
	color: black;
	height: 30px;
	line-height: 26px;
	font-weight: 400;
}

.popUne .parentPj {
	box-sizing: border-box;
	overflow-y: auto;
	min-width: 466px;
	max-width: 62%;
	max-height: 50%;
	display: flex;
	flex-flow: row wrap;
	margin-top: 25px;
	margin-bottom: 30px;
	padding: 10px 0px 20px 0px;
	gap: 10px;
	border-bottom: 1px solid #B3B3B3;
}

.popUne .parentPj figure {
	box-sizing: border-box;
	display: flex;
	position: relative;
	width: 85px;
	height: 125px;
	padding-bottom: 20px;
}

.popUne .parentPj figure img {
	box-sizing: border-box;
	width: 100%;
}

.popUne .fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 17px;
	min-height: 17px;
	max-height: 17px;
	background-color: black;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 10px;
}

.popUne .addPhoto {
	border: none;
	cursor: pointer;
	color: white;
	background-color: #1D6154;
	padding: 10px 50px;
	border-radius: 25px;
	align-self: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	margin-bottom: 15px;
}

/*2ème popup*/


.popDeux {
	flex-wrap: wrap;
	padding-top: 10px;
	display: none;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	gap: 30px;
	height: 100%;
	min-width: 610px;
	width: 100%;
}

/* addPhotoForm */
.popDeux .addPhotoForm {
	min-width: 416px;
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 15px;
}

i.fa-regular.fa-image::before {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 76px;
	font-size: 65px;

}




/* parentAdd */

.popDeux .parentAdd {
	background-color: #E8F1F6;
	max-width: 100%;
	max-height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popDeux input#image {
	display: none;
}

.popDeux .labelAdd {
	display: flex;
	max-width: 260px;
	max-height: 150px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.popDeux .labelAdd .fa-image {
	color: #B9C5CC;
	padding-top: 10px;
}

.popDeux .labelAdd .pAjout {
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 25px;
	padding: 10px 35px;
}

.popDeux .labelAdd  .infoAdd {
	color: #444444;
	padding-bottom: 20px;
}

.popDeux .labelAdd .labelImg {
	display: none;
	height: 100%;
	width: 100%;
	max-width: 260px;
	max-height: 150px;
	
}
.popDeux .labelAdd .labelImg.act {
	display: block;
}

.addPhotoForm {
	margin-bottom: 40px;
}

.addPhotoForm input, select {
	border: none;
	height: 50px;
	box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
}

.addPhotoForm span {
	border: 1px solid #B3B3B3;
	margin: 25px 0 20px 0;
}

.addPhotoForm button {
    color: white;
    background-color: #A7A7A7;
    padding: 10px 90px;
    border-radius: 25px;
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

.active {
	display: flex;
}